#signup-wrapper{
    width: 80%;
    margin: 0% auto;
    margin-top: 4%;
    display: none;
}
#signup-form{
    background: purple;
    padding-bottom: 2%;
    padding: 5%;
}
#signup-form input{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 95%;
    margin: 2%;
}
    
#signup-form label{
    order: solid 1px white;
    width: 100px;
    margin-left: 2%;
}
#submit{
    background: navy;
    color: white;
}
#change_pwd{
    padding: 2%;
    margin: 4%;
    background: purple;
    color: white;
    align-self: center;
}